@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    margin:0;
    padding:0;
    height:100vh;
    width:100%;
}
body{
    font-family:'Poppins',Verdana;
}
.nav{
    display:flex;
    width:100%;
    top:0;
    background-color:white;
    justify-content:center;
    position:fixed;
    z-index:2000;
}
.nav .headdiv,.nav .optionsdiv,.nav .togglediv{
    width:100%;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
}
.nav .homesecdiv{
    background-color:red;
}
.nav .togglediv{
    justify-content:right;
    margin-right:2%;
}
.nav #togglediv2{
    display:none;
}
.nav .togglediv #modeToggle,#modeToggles{
    padding:1.5% 2%;
    margin-left:1.5%;
    color:black;
    border-radius:5px;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    transition:.2s ease-in-out;
}
.nav .togglediv #modeToggles{
    padding:0.34% 2%;
}
.nav .togglediv #modeToggle{
    color:blue;
    box-shadow:0px 0px 1px rgba(0,0,255,0.9);
}
.nav .headdiv span,.nav .optionsdiv span{
    color:black;
}
.nav .headdiv{
    color:blue;
    justify-content:start;
    margin-left:3%;
} 
.nav .optionsdiv a{
    text-decoration:none;
    padding:3%;
    display:flex;
    width:100%;
    font-weight:bold;
    color:black;
    z-index:1000;
    transition:.3s ease-in-out;
}
.nav .optionsdiv a:hover{
    box-shadow:0px 0px 3px rgba(0,0,0,0.3);
    border-radius:5px;
    font-size:large;
    color:blue;
}
.nav #modeToggle:hover{
    color:white;
    background-color:blue;
    box-shadow:0px 0px 2px rgba(0,0,255,0.9);
}
.nav #modeToggles:hover{
    color:white;
    background-color:black;
    box-shadow:0px 0px 2px rgba(0,0,0,0.9);
}
.nav .socialdiv{
    display:flex;
    justify-content:center;
    width:70%;
    margin:auto;
}
.nav .optionsdiv h3{
    color:blue;
}
.nav .socialdiv i{
    font-size:x-large;
    color:dimgray;
}
.nav .socialdiv,.nav .optionsdiv hr,.nav .optionsdiv h3,
.nav .optionsdiv p{
        display:none;
}
.nav #optionsdiv p{
    margin-top:18%;
}
.homesecdiv #name{
    color:blue;
}
.homesecdiv{
    width:100%;
    position:relative;
    background-color:white;
    height:100%;
}
.homesecdiv .backgroundimg{
    width:100%;
    height:100vh;
}
.homesecdiv div{
    position:absolute;
    top:25%;
    left:10%;
}
.homesecdiv .photoimg{
    position:absolute;
    block-size:350px;
    top:20%;
    right:15%;
    border-bottom-width:1px;
    border-bottom-style:solid;
}
.homesecdiv button{
    padding:3.5% 10%;
    border-radius:8px;
    outline:none;
    border-style:solid;
    border-color:blue;
    background-color:blue;
    color:white;
    font-family:'Poppins',Verdana;
    transition:.2s ease-in-out;
}
.homesecdiv button:hover{
    background-color:transparent;
    color:blue;
}
.homesecdiv a{
    font-size:x-large;
    margin-left:8%;
    color:dimgray;
    transition:.2s ease-in-out;
}
.homesecdiv i{
    transition:.2s ease-in-out;
}
.homesecdiv i:hover{
    color:blue;
    transform:translateY(-5px);
}
.aboutsecdiv{
    margin:4%;
}
.sections hr{
    width:30%;
}
.sections{
    text-align:center;
    color:black;
}
.sections span{
    color:blue;
}
.aboutsecdiv img{
    block-size:400px;
    margin-left:10%;
    box-shadow:10px 10px 10px rgba(0,0,0,0.3);
}
.aboutcontentdiv{
    display:flex;
    justify-content:center;
}
.aboutcontentdiv div{
    padding:5%;
    width:100%;
}
.aboutcontentdiv div a{
    text-decoration:none;
    color:blue;
}
.scontentdiv{
    position:relative;
    overflow:hidden;
}
.detailcontents{
    position:absolute;
    background-color:whitesmoke;
    width:100%;
    left:100%;
    overflow:hidden;
    top:0;
    text-align:left;
    height:80%;
    box-shadow:inset 0px 0px 1px rgba(0,0,0,0.9);
    transition:.4s ease-in-out;
}
.scrollcontents{
    overflow-y:auto;
    height:100%;
}
.detailcontents .scrollcontents div{
    padding:4%;
    width:70%;
    overflow:hidden;
    background-color:white;
    font-family:'Poppins',Verdana;
    border-radius:10px;
    margin-top:4%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}
.detailcontents .scrollcontents div img{
    width:100%;
    margin:0;
    height:50%;
}
.detailcontents .scrollcontents div span{
    font-weight:bold;
}
.detailcontents .scrollcontents div i{
    font-size:x-large;
    color:blue;
}
.aboutcontentdiv button{
    padding:3% 10%;
    border-radius:8px;
    outline:none;
    border-style:solid;
    border-color:blue;
    background-color:blue;
    color:white;
    font-family:'Poppins',Verdana;
    transition:.2s ease-in-out;
}
.aboutcontentdiv button:hover{
    background-color:transparent;
    color:blue;
}
.skillsecdiv{
    margin:3.5% 6%;
}
.skills{
    display:flex;
    justify-content:center;
    align-items:center;
}
.skill{
    width:50%;
    margin:1%;
    padding:2% 0%;
    position:relative;
    overflow:hidden;
    border-radius:10px;
    font-size:large;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
}
.skill label{
    position:absolute;
    top:30%;
    right:3%;
}
.skill i{
    font-size:x-large;
    margin-left:4%;
}
.back{
    position:absolute;
    background-color:whitesmoke;
    width:90%;
    height:100%;
    top:0;
    z-index:-1000;
    transition:.3s ease-in-out;
}
.back2{
    position:absolute;
    background-color:whitesmoke;
    width:80%;
    height:100%;
    top:0;
    z-index:-1000;
}
.back3{
    position:absolute;
    background-color:whitesmoke;
    width:60%;
    height:100%;
    top:0;
    z-index:-1000;
}
.back4{
    position:absolute;
    background-color:whitesmoke;
    width:75%;
    height:100%;
    top:0;
    z-index:-1000;
}
.back5{
    position:absolute;
    background-color:whitesmoke;
    width:65%;
    height:100%;
    top:0;
    z-index:-1000;
}
.back6{
    position:absolute;
    background-color:whitesmoke;
    width:65%;
    height:100%;
    top:0;
    z-index:-1000;
}
.servicesecdiv{
    margin:3% 3%;
}
.servicecontentsdiv{
    display:flex;
    margin:auto;
    margin-top:3%;
    width:75%;
    justify-content:center;
    text-align:center;
    align-items:center;
    gap:23px;
}
.servicediv{
    width:42%;
    padding:4%;
    background:linear-gradient(135deg,whitesmoke,white);
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}
.servicediv i{
    font-size:x-large;
    color:blue;
}
.servicediv .sp{
    font-weight:bold;
}
.projectsecdiv{
    margin:3% 3%;
}
.projectcontentsdiv{
    margin:auto;
    margin-top:8%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:90%;
    gap:30px;
}
.projectdiv{
    width:100%;
    overflow:hidden;
    border-radius:20px;
    position:relative;
    background-color:blue;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}
.projectdiv img{
    width:100%;
    position:relative;
}
.pro,.pro2,.pro3,.pro4{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    display:none;
    background:linear-gradient(rgba(0,0,0,0.4),blue);
    transition:.3s ease-in-out;
}
.pro div,.pro2 div,.pro3 div,.pro4 div{
    margin:auto;
    text-align:center;
    margin-top:12%;
    width:80%;
}
.pro p,.pro2 p,.pro3 p,.pro4 p{
    color:white;
}
.pro a,.pro2 a,.pro3 a,.pro4 a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family:'Poppins',Verdana;
}
.contactsecdiv{
    margin:3% 6%;
}
.contactcontentsdiv{
    display:flex;
    justify-content:center;
    margin-top:8%;
}
.contactdiv{
    width:100%;
}
.contactdiv table tr .td{
    padding:10px 20px;
}
.contactdiv form input{
    margin:2%;
    padding:3.5% 0%;
    width:70%;
    border-style:none;
    font-family:'Poppins',Verdana;
    outline:none;
    border-bottom-style:solid;
    transition:.2s ease-in-out;
}
.contactdiv form input:hover{
    border-color:blue;
}
.contactdiv form input::placeholder{
    transition:.2s ease-in-out;
}
.contactdiv form input:hover::placeholder{
    color:blue;
}
.contactdiv a{
    text-decoration:none;
    color:blue;
}
.contactdiv i{
    color:blue;
    font-size:x-large;
}
.contactdiv table tr td span{
    font-weight:bold;
}
.contactdiv button{
    padding:3% 4%;
    outline:none;
    border-style:solid;
    border-radius:8px;
    border-color:blue;
    font-family:'Poppins',Verdana;
    background-color:blue;
    color:white;
    transition:.2s ease-in-out;
}
.contactdiv button:hover{
    background-color:transparent;
    color:blue;
}
.contactdiv .con{
    color:black;
}
.contactdiv #successmsg{
    font-family:'Poppins',Verdana;
}
.bhr{
    width:50%;
    margin-left:0;
}
.bottombardiv{
    text-align:center;
    padding:0.5%;
    color:white;
    background-color:rgb(30,30,30);
}
.bottombardiv a{
    font-size:x-large;
    color:white;
    margin-left:3%;
}
.bottombardiv i,p{
    margin-top:1.5%;
}
#about,#skill,#service,#project,#contact{
    color:white;
}

/* Red Theme */
.red-theme .nav .headdiv,.red-theme .nav #modeToggle,
.red-theme .homesecdiv #name,.red-theme .skillsecdiv span,
.red-theme .sevicesecdiv span,.red-theme .servicesecdiv span,
.red-theme .servicesecdiv i,.red-theme .projectsecdiv span,
.red-theme .contactsecdiv span,.red-theme .contactsecdiv i,
.red-theme .contactsecdiv a,.red-theme .nav .optionsdiv h3,
.red-theme .detailcontents .scrollcontents div i{
    color:red;
}
.red-theme .nav #modeToggle{
    box-shadow:0px 0px 1px rgba(255,0,0,0.9);
}
.red-theme .homesecdiv button,.red-theme .aboutsecdiv button,
.red-theme .contactsecdiv button{
    background-color:red;
    color:white;
    border-color:red;
}
.red-theme .projectsecdiv #procontent,
.red-theme .projectsecdiv #procontent2,
.red-theme .projectsecdiv #procontent3,
.red-theme .projectsecdiv #procontent4{
    background:linear-gradient(rgba(0,0,0,0.4),red);
}
.red-theme .projectdiv{
    background-color:red;
}
.red-theme .nav #modeToggle:hover{
    background-color:red;
    color:white;
}
.red-theme .homesecdiv button:hover,
.red-theme .aboutsecdiv button:hover,
.red-theme .contactsecdiv button:hover{
    color:red;
    background-color:transparent;
}
.red-theme .nav a:hover,.red-theme .homesecdiv i:hover,
.red-theme .aboutsecdiv span,.red-theme .aboutsecdiv a{
    color:red;
}
.red-theme .contactsecdiv form input:hover{
    border-color:red;
}
.red-theme .contactsecdiv form input:hover::placeholder{
    color:red;
}
.red-theme .contactsecdiv .con,
.red-theme .detailcontents .scrollcontents div span{
    color:black;
}


/* Violet Theme */
.violet-theme .nav .headdiv,.violet-theme .nav #modeToggle,
.violet-theme .homesecdiv #name,.violet-theme .skillsecdiv span,
.violet-theme .sevicesecdiv span,.violet-theme .servicesecdiv span,
.violet-theme .servicesecdiv i,.violet-theme .projectsecdiv span,
.violet-theme .contactsecdiv span,.violet-theme .contactsecdiv i,
.violet-theme .contactsecdiv a,.violet-theme .nav .optionsdiv h3,
.violet-theme .detailcontents .scrollcontents div i{
    color:darkviolet;
}
.violet-theme .nav #modeToggle{
    box-shadow:0px 0px 1px rgba(148,0,211,0.9);
}
.violet-theme .homesecdiv button,.violet-theme .aboutsecdiv button,
.violet-theme .contactsecdiv button{
    background-color:darkviolet;
    color:white;
    border-color:darkviolet;
}
.violet-theme .projectsecdiv #procontent,
.violet-theme .projectsecdiv #procontent2,
.violet-theme .projectsecdiv #procontent3,
.violet-theme .projectsecdiv #procontent4{
    background:linear-gradient(rgba(0,0,0,0.4),darkviolet);
}
.violet-theme .projectdiv{
    background-color:darkviolet;
}
.violet-theme .nav #modeToggle:hover{
    background-color:darkviolet;
    color:white;
}
.violet-theme .homesecdiv button:hover,
.violet-theme .aboutsecdiv button:hover,
.violet-theme .contactsecdiv button:hover{
    color:darkviolet;
    background-color:transparent;
}
.violet-theme .nav a:hover,.violet-theme .homesecdiv i:hover,
.violet-theme .aboutsecdiv span,.violet-theme .aboutsecdiv a{
    color:darkviolet;
}
.violet-theme .contactsecdiv form input:hover{
    border-color:darkviolet;
}
.violet-theme .contactsecdiv form input:hover::placeholder{
    color:darkviolet;
}
.violet-theme .contactsecdiv .con,
.violet-theme .detailcontents .scrollcontents div span{
    color:black;
}


/* Green Theme */
.green-theme .nav .headdiv, .green-theme .nav #modeToggle,
.green-theme .homesecdiv #name, .green-theme .skillsecdiv span,
.green-theme .sevicesecdiv span, .green-theme .servicesecdiv span,
.green-theme .servicesecdiv i, .green-theme .projectsecdiv span,
.green-theme .contactsecdiv span, .green-theme .contactsecdiv i,
.green-theme .contactsecdiv a,.green-theme .nav .optionsdiv h3,
.green-theme .detailcontents .scrollcontents div i{
    color: limegreen;
}
.green-theme .nav #modeToggle {
    box-shadow: 0px 0px 1px rgba(50,205,50,0.9);
}
.green-theme .homesecdiv button, .green-theme .aboutsecdiv button,
.green-theme .contactsecdiv button {
    background-color: limegreen;
    color: white;
    border-color: limegreen;
}
.green-theme .projectsecdiv #procontent,
.green-theme .projectsecdiv #procontent2,
.green-theme .projectsecdiv #procontent3,
.green-theme .projectsecdiv #procontent4 {
    background: linear-gradient(rgba(0,0,0,0.4), limegreen);
}
.green-theme .projectdiv {
    background-color: limegreen;
}
.green-theme .nav #modeToggle:hover {
    background-color: limegreen;
    color: white;
}
.green-theme .homesecdiv button:hover,
.green-theme .aboutsecdiv button:hover,
.green-theme .contactsecdiv button:hover {
    color: limegreen;
    background-color: transparent;
}
.green-theme .nav a:hover, .green-theme .homesecdiv i:hover,
.green-theme .aboutsecdiv span, .green-theme .aboutsecdiv a {
    color: limegreen;
}
.green-theme .contactsecdiv form input:hover {
    border-color: limegreen;
}
.green-theme .contactsecdiv form input:hover::placeholder {
    color: limegreen;
}
.green-theme .contactsecdiv .con,
.green-theme .detailcontents .scrollcontents div span{
    color:black;
}

/* Yellow Theme */
.yellow-theme .nav .headdiv, .yellow-theme .nav #modeToggle,
.yellow-theme .homesecdiv #name, .yellow-theme .skillsecdiv span,
.yellow-theme .sevicesecdiv span, .yellow-theme .servicesecdiv span,
.yellow-theme .servicesecdiv i, .yellow-theme .projectsecdiv span,
.yellow-theme .contactsecdiv span, .yellow-theme .contactsecdiv i,
.yellow-theme .contactsecdiv a,.yellow-theme .nav .optionsdiv h3,
.yellow-theme .detailcontents .scrollcontents div i{
    color: gold;
}
.yellow-theme .nav #modeToggle {
    box-shadow: 0px 0px 1px rgba(255,215,0,0.9);
}
.yellow-theme .homesecdiv button, .yellow-theme .aboutsecdiv button,
.yellow-theme .contactsecdiv button {
    background-color: gold;
    color: white;
    border-color: gold;
}
.yellow-theme .projectsecdiv #procontent,
.yellow-theme .projectsecdiv #procontent2,
.yellow-theme .projectsecdiv #procontent3,
.yellow-theme .projectsecdiv #procontent4 {
    background: linear-gradient(rgba(0,0,0,0.4), gold);
}
.yellow-theme .projectdiv {
    background-color: gold;
}
.yellow-theme .nav #modeToggle:hover {
    background-color: gold;
    color: white;
}
.yellow-theme .homesecdiv button:hover,
.yellow-theme .aboutsecdiv button:hover,
.yellow-theme .contactsecdiv button:hover {
    color: gold;
    background-color: transparent;
}
.yellow-theme .nav a:hover, .yellow-theme .homesecdiv i:hover,
.yellow-theme .aboutsecdiv span, .yellow-theme .aboutsecdiv a {
    color: gold;
}
.yellow-theme .contactsecdiv form input:hover {
    border-color: gold;
}
.yellow-theme .contactsecdiv form input:hover::placeholder {
    color: gold;
}
.yellow-theme .contactsecdiv .con,
.yellow-theme .detailcontents .scrollcontents div span{
    color:black;
}

/* Orange Theme */
.orange-theme .nav .headdiv, .orange-theme .nav #modeToggle,
.orange-theme .homesecdiv #name, .orange-theme .skillsecdiv span,
.orange-theme .sevicesecdiv span, .orange-theme .servicesecdiv span,
.orange-theme .servicesecdiv i, .orange-theme .projectsecdiv span,
.orange-theme .contactsecdiv span, .orange-theme .contactsecdiv i,
.orange-theme .contactsecdiv a,.orange-theme .nav .optionsdiv h3,
.orange-theme .detailcontents .scrollcontents div i{
    color:#fa5b0f;
}
.orange-theme .nav #modeToggle {
    box-shadow: 0px 0px 1px rgba(255,140,0,0.9);
}
.orange-theme .homesecdiv button, .orange-theme .aboutsecdiv button,
.orange-theme .contactsecdiv button {
    background-color: #fa5b0f;
    color: white;
    border-color: #fa5b0f;
}
.orange-theme .projectsecdiv #procontent,
.orange-theme .projectsecdiv #procontent2,
.orange-theme .projectsecdiv #procontent3,
.orange-theme .projectsecdiv #procontent4 {
    background: linear-gradient(rgba(0,0,0,0.4), #fa5b0f);
}
.orange-theme .projectdiv {
    background-color: #fa5b0f;
}
.orange-theme .nav #modeToggle:hover {
    background-color: #fa5b0f;
    color: white;
}
.orange-theme .homesecdiv button:hover,
.orange-theme .aboutsecdiv button:hover,
.orange-theme .contactsecdiv button:hover {
    color: #fa5b0f;
    background-color: transparent;
}
.orange-theme .nav a:hover, .orange-theme .homesecdiv i:hover,
.orange-theme .aboutsecdiv span, .orange-theme .aboutsecdiv a {
    color: #fa5b0f;
}
.orange-theme .contactsecdiv form input:hover {
    border-color: #fa5b0f;
}
.orange-theme .contactsecdiv form input:hover::placeholder {
    color: #fa5b0f;
}
.orange-theme .contactsecdiv .con,
.orange-theme .detailcontents .scrollcontents div span{
    color:black;
}


/* Pink Theme */
.pink-theme .nav .headdiv, .pink-theme .nav #modeToggle,
.pink-theme .homesecdiv #name, .pink-theme .skillsecdiv span,
.pink-theme .sevicesecdiv span, .pink-theme .servicesecdiv span,
.pink-theme .servicesecdiv i, .pink-theme .projectsecdiv span,
.pink-theme .contactsecdiv span, .pink-theme .contactsecdiv i,
.pink-theme .contactsecdiv a,.pink-theme .nav .optionsdiv h3,
.pink-theme .detailcontents .scrollcontents div i{
    color: deeppink;
}
.pink-theme .nav #modeToggle {
    box-shadow: 0px 0px 1px rgba(255,20,147,0.9);
}
.pink-theme .homesecdiv button, .pink-theme .aboutsecdiv button,
.pink-theme .contactsecdiv button {
    background-color: deeppink;
    color: white;
    border-color: deeppink;
}
.pink-theme .projectsecdiv #procontent,
.pink-theme .projectsecdiv #procontent2,
.pink-theme .projectsecdiv #procontent3,
.pink-theme .projectsecdiv #procontent4 {
    background: linear-gradient(rgba(0,0,0,0.4), deeppink);
}
.pink-theme .projectdiv {
    background-color: deeppink;
}
.pink-theme .nav #modeToggle:hover {
    background-color: deeppink;
    color: white;
}
.pink-theme .homesecdiv button:hover,
.pink-theme .aboutsecdiv button:hover,
.pink-theme .contactsecdiv button:hover {
    color: deeppink;
    background-color: transparent;
}
.pink-theme .nav a:hover, .pink-theme .homesecdiv i:hover,
.pink-theme .aboutsecdiv span, .pink-theme .aboutsecdiv a {
    color: deeppink;
}
.pink-theme .contactsecdiv form input:hover {
    border-color: deeppink;
}
.pink-theme .contactsecdiv form input:hover::placeholder {
    color: deeppink;
}
.pink-theme .contactsecdiv .con,
.pink-theme .detailcontents .scrollcontents div span{
    color:black;
}


/* Sky Blue Theme */
.skyblue-theme .nav .headdiv, .skyblue-theme .nav #modeToggle,
.skyblue-theme .homesecdiv #name, .skyblue-theme .skillsecdiv span,
.skyblue-theme .sevicesecdiv span, .skyblue-theme .servicesecdiv span,
.skyblue-theme .servicesecdiv i, .skyblue-theme .projectsecdiv span,
.skyblue-theme .contactsecdiv span, .skyblue-theme .contactsecdiv i,
.skyblue-theme .contactsecdiv a,.skyblue-theme .nav .optionsdiv h3,
.skyblue-theme .detailcontents .scrollcontents div i{
    color: dodgerblue;
}
.skyblue-theme .nav #modeToggle {
    box-shadow: 0px 0px 1px rgba(30,144,255,0.9);
}
.skyblue-theme .homesecdiv button, .skyblue-theme .aboutsecdiv button,
.skyblue-theme .contactsecdiv button {
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
}
.skyblue-theme .projectsecdiv #procontent,
.skyblue-theme .projectsecdiv #procontent2,
.skyblue-theme .projectsecdiv #procontent3,
.skyblue-theme .projectsecdiv #procontent4 {
    background: linear-gradient(rgba(0,0,0,0.4), dodgerblue);
}
.skyblue-theme .projectdiv {
    background-color: dodgerblue;
}
.skyblue-theme .nav #modeToggle:hover {
    background-color: dodgerblue;
    color: white;
}
.skyblue-theme .homesecdiv button:hover,
.skyblue-theme .aboutsecdiv button:hover,
.skyblue-theme .contactsecdiv button:hover {
    color: dodgerblue;
    background-color: transparent;
}
.skyblue-theme .nav a:hover, .skyblue-theme .homesecdiv i:hover,
.skyblue-theme .aboutsecdiv span, .skyblue-theme .aboutsecdiv a {
    color: dodgerblue;
}
.skyblue-theme .contactsecdiv form input:hover {
    border-color: dodgerblue;
}
.skyblue-theme .contactsecdiv form input:hover::placeholder {
    color: dodgerblue;
}
.skyblue-theme .contactsecdiv .con,
.skyblue-theme .detailcontents .scrollcontents div span{
    color:black;
}



/* Dark mode */
body.dark-mode{
    background-color:rgb(40,40,40);
}
body.dark-mode #about,body.dark-mode #skill,body.dark-mode #service,
body.dark-mode #project,body.dark-mode #contact{
    color:rgb(40,40,40);
}
body.dark-mode .detailcontents{
    background-color:rgb(40,40,40);
}
body.dark-mode .nav,body.dark-mode .nav #modeToggles{
    background-color:rgb(40,40,40);
}
body.dark-mode .homesecdiv{
    background-color:rgb(40,40,40);
}
body.dark-mode .homesecdiv h1,
body.dark-mode .detailcontents .scrollcontents div span{
    color:whitesmoke;
}
body.dark-mode .homesecdiv a{
    color:darkgray;
}
body.dark-mode .homesecdiv button,body.dark-mode .aboutsecdiv button,
body.dark-mode .contactsecdiv form button{
    color:black;
}
body.dark-mode .homesecdiv button:hover,
body.dark-mode .aboutsecdiv button:hover,
body.dark-mode .contactsecdiv form button:hover{
    color:blue;
}
body.dark-mode.red-theme .homesecdiv button:hover,
body.dark-mode.red-theme .aboutsecdiv button:hover,
body.dark-mode.red-theme .contactsecdiv form button:hover{
    color:red;
}
body.dark-mode.violet-theme .homesecdiv button:hover,
body.dark-mode.violet-theme .aboutsecdiv button:hover,
body.dark-mode.violet-theme .contactsecdiv form button:hover {
    color: darkviolet;
}
body.dark-mode.green-theme .homesecdiv button:hover,
body.dark-mode.green-theme .aboutsecdiv button:hover,
body.dark-mode.green-theme .contactsecdiv form button:hover {
    color: limegreen;
}
body.dark-mode.yellow-theme .homesecdiv button:hover,
body.dark-mode.yellow-theme .aboutsecdiv button:hover,
body.dark-mode.yellow-theme .contactsecdiv form button:hover {
    color: gold;
}
body.dark-mode.orange-theme .homesecdiv button:hover,
body.dark-mode.orange-theme .aboutsecdiv button:hover,
body.dark-mode.orange-theme .contactsecdiv form button:hover {
    color:#fa5b0f;
}
body.dark-mode.pink-theme .homesecdiv button:hover,
body.dark-mode.pink-theme .aboutsecdiv button:hover,
body.dark-mode.pink-theme .contactsecdiv form button:hover {
    color: deeppink;
}
body.dark-mode.skyblue-theme .homesecdiv button:hover,
body.dark-mode.skyblue-theme .aboutsecdiv button:hover,
body.dark-mode.skyblue-theme .contactsecdiv form button:hover {
    color: dodgerblue;
}
body.dark-mode .homesecdiv .backgroundimg{
    filter:brightness(15.5%);
}
body.dark-mode .nav a,body.dark-mode .nav span,
body.dark-mode .aboutsecdiv,body.dark-mode .sections,
body.dark-mode .skillsecdiv{
    color:whitesmoke;
}
body.dark-mode .nav a:hover{
    box-shadow:0px 0px 1px 1px rgba(255,255,255,0.6);
}
body.dark-mode .nav #modeToggle:hover{
    color:rgb(40,40,40);
}
body.dark-mode .nav #modeToggles{
    color:whitesmoke;
    box-shadow:0px 0px 1px rgba(255,255,255,0.9);
}
body.dark-mode .nav #modeToggles:hover{
    color:gold;
    background-color:whitesmoke;
}
body.dark-mode .skillsecdiv .skill{
    box-shadow:0px 0px 1px rgba(255,255,255,0.9);
}
body.dark-mode .aboutsecdiv img{
    box-shadow:0px 0px 1px rgba(255,255,255,0.9);
}
body.dark-mode .skillsecdiv .skill div{
    background-color:rgb(60,60,60);
}
body.dark-mode .servicesecdiv .servicediv,
body.dark-mode .detailcontents .scrollcontents div{
    color:whitesmoke;
    box-shadow:0px 0px 1px rgba(255,255,255,0.9);
    background:linear-gradient(135deg,rgb(70,70,70),rgb(40,40,40));
}
body.dark-mode .detailcontents{
    box-shadow:inset 0px 0px 1px rgba(255,255,255,0.9);
}
body.dark-mode .projectsecdiv .projectdiv{
    box-shadow:0px 0px 1px rgba(255,255,255,0.9);
}
body.dark-mode .contactsecdiv{
    color:whitesmoke;
}
body.dark-mode .contactsecdiv form input{
    color:whitesmoke;
    background-color:transparent;
}
body.dark-mode .contactsecdiv .con,body.dark-mode .nav .optionsdiv p{
    color:whitesmoke;
}
body.dark-mode .nav .socialdiv i{
    color:darkgray;
}
body.dark-mode .bottombardiv{
    background-color:whitesmoke;
    color:black;
}
body.dark-mode .bottombardiv i{
    color:black;
}


@media(max-width:900px){
    .aboutsecdiv{
        margin:0;
    }
    .pro,.pro2,.pro3,.pro4{
        font-size:small;
    }
    .homesecdiv .photoimg{
        right:4%;
    }
    .nav .togglediv{
        gap:2%;
    }
    .nav .togglediv #modeToggle,.nav #modeToggles,
    .yellow-theme .nav #modeToggle,.red-theme .nav #modeToggle,
    .violet-theme .nav #modeToggle,.green-theme .nav #modeToggle,
    .orange-theme .nav #modeToggle,.skyblue-theme .nav #modeToggle,
    .pink-theme .nav #modeToggle{
        box-shadow:none;
    }
}
@media(max-width:800px){
    .aboutcontentdiv{
        flex-wrap:wrap;
    }
    .homesecdiv .photoimg{
        block-size:300px;
    }
    .aboutsecdiv img{
        margin-left:0;
    }
    .aboutsecdiv{
        text-align:center;
    }
    .servicesecdiv{
        padding:0;
        margin:0;     
    }
    .pro,.pro2,.pro3,.pro4{
        font-size:small;
    }
}
@media(max-width:850px){
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        font-size:small;
    }
}
@media(max-width:750px){
    .nav .optionsdiv{
        display:none;
    }
    .photoimg{
        margin-right:0;
    }
    .homesecdiv .photoimg{
        display:none;
    }
    .nav .togglediv{
        gap:20px;
    }
    .nav #togglediv2{
        display:block;
        margin-right:6%;
        font-size:x-large;
    }
    .nav .optionsdiv{
        display:none;
        position:absolute;
        top:100%;
        right:0;
        height:100vh;
        font-size:larger;
        background:linear-gradient(225deg,white,whitesmoke);
        width:50%;
        padding:6% 0%;
        border-bottom-left-radius:15px;
        box-shadow:-5px 5px 5px rgba(0,0,0,0.3);
    }
    body.dark-mode .nav .optionsdiv{
        background:linear-gradient(225deg,rgb(40,40,40),rgb(30,30,30));
        box-shadow:-5px 5px 5px rgba(0,0,0,0.3);
    }
    body.dark-mode .nav .togglediv #togglediv2{
        color:whitesmoke;
    }
    body.dark-mode .nav .togglediv #modeToggle,
    body.dark-mode .nav .togglediv #modeToggles,
    body.dark-mode .nav .togglediv #modeToggle:hover,
    body.dark-mode .nav .togglediv #modeToggles:hover,
    body.dark-mode .nav .togglediv #togglediv2:hover{
        box-shadow:none;
    }
    .nav .optionsdiv a{
        padding:8% 5%;
        justify-content:center;
    }
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        margin-top:4.5%;
    }
}
@media(max-width:700px){
    .skills,.servicecontentsdiv,
    .projectcontentsdiv,.contactcontentsdiv{
        flex-wrap:wrap;
    }
    #servicecontentsdiv{
        margin-top:5%;
    }
    #prodiv3{
        margin-top:5%;
    }
    .skill{
        width:100%;
        text-align:left;
        padding-top:3.5%;
        padding-bottom:3.5%;
    }
    .skillsecdiv{
        text-align:center;
    }
    .servicediv{
        width:100%;
    }
    #contactdiv{
        margin-top:18%;
    }
    .bhr{
        width:100%;
    }
    .contactdiv,.contactdiv table,.contactdiv hr{
        text-align:center;
        margin:auto;
    }
    .contactdiv table td{
        text-align:left;
    }
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        font-size:larger;
        margin-top:12%;
    }
}
@media(max-width:600px){
    .skill{
        margin-top:2%;
    }
    
    .homesecdiv{
        margin-top:10%;
    }
}
@media(max-width:570px){
   
    .homesecdiv{
        margin-top:10%;
    }
}
@media(max-width:550px){
   
    .homesecdiv{
        margin-top:10%;
    }
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        font-size:15px;
        margin-top:12%;
    }
}
@media(max-width:500px){
    
    .homesecdiv{
        margin-top:10%;
    }
    .nav .headdiv{
        margin-left:8%;
    }
    #servicecontentsdiv{
        margin-top:6%;
    }
}
@media(max-width:450px){
   
    .homesecdiv{
        margin-top:10%;
    }
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        margin-top:8%;
    }
}
@media(max-width:400px){
    .skill{
        font-size:smaller;
    }
    .skill i{
        font-size:20px;
    }
    
    .homesecdiv{
        margin-top:10%;
    }
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        font-size:13px;
    }
}
@media(max-width:380px){
   
    .homesecdiv{
        margin-top:10%;
    }
    .pro div,.pro2 div,.pro3 div,.pro4 div{
        font-size:13px;
    }
    .nav .socialdiv,.nav .optionsdiv hr,.nav .optionsdiv h3{
        display:flex;
        justify-content:center;
    }
    .nav .optionsdiv p{
        display:block;
    }
}
